.topnav-centered {
    float: none;
    position: absolute;
    top: 50%;
    /*left: 50%;
    transform: translate(-50%, -50%);*/
  }

.card-padding {
    margin-top: 50px;
}

.card-picture {
  margin-top: 20px;
}

.nav-title {
  font-size: 100rem;
  margin-left: 20px;
}

