{% extends "layout.html" %}

{% block content %}

<h2 align="center" >Welcome to the Taco Assembler!</h2>

<div class="row card-padding">
    <div class="col-sm-6">
        <div class="card">
            <img src="../static/img/menu.svg" width="2000px" height="200px" class="card-img-top card-picture" alt="Handcraft">
            <div class="card-body">
                <h5 align="center" class="card-title">Handcraft A Taco</h5>
                <p align="center" class="card-text">Choose every aspect of your taco for a personalized creation.</p>
                <a align="center" href="#" class="btn btn-success">Create Taco</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <img src="../static/img/automatic.svg" width="200px" height="200px" class="card-img-top card-picture" alt="Handcraft">
            <div class="card-body">
                <h5 align="center" class="card-title">Randomized Taco</h5>
                <p align="center" class="card-text">Generate a random and unique taco for a delicious suprise!</p>
                <a align="center" href="#" class="btn btn-success">Generate Taco</a>
            </div>
        </div>
    </div>
</div>

<!-- Create Taco Modal-->





<script src="../static/js/index.js"></script>

{% endblock content %}
